/* Navbar */

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  font-weight: 500;
  padding: 0px 20px;
}

#navbar-heading {
  font-size: 32px;
  margin-bottom: 5px;
}

#navbar-right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#navbar-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#navbar-address {
  font-weight: 300;
}

#navbar-social-media {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
}

#navbar-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}

li:hover, #navbar-heading:hover {
  color: #20603C;
}

ul {
  margin: 0;
}

#sm-list {
  font-size: 20px;
  margin-right: 10px;
}

.navbar-link, .navbar-sm-icon {
  display: inline;
  list-style-type: none;
}

.navbar-link {
  font-size: 23px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  color: #3C2323;
}

/* Hero section */

#hero {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: blue;
}

#hero-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  color: white;
  padding: 30px;
  width: 50%;
  background-color: #20603C;
}

#contact-button {
  text-align: center;
  width: 160px;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 8px;
  font-size: 20px;
}

#hero-text h1 {
  font-size: 54px;
  margin-bottom: 10px;
}

#hero-text p {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;
}

#hero-image {
  width: 50%;
  background-image: url("img/veges-hero.jpg");
  background-size: 100% 600px;
  background-repeat: no-repeat;
}

#contact-button:hover {
  color: #133A24;
  border: 2px solid #133A24;
}